.floating-label {
  position: relative;
  margin-bottom: 1.5rem;

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    transition: 0.2s;
  }

  label {
    position: absolute;
    left: 12px;
    top: 10px;
    background: white;
    padding: 0 4px;
    color: #777;
    pointer-events: none;
    transition: 0.2s ease;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #0d6efd;
  }

  // ---- POUR SELECT ----
  select:focus + label,
  select:valid + label {
    top: -10px;
    font-size: 12px;
    color: #0d6efd;
  }
}
